.collapsable-icon {
  transition: transform 0.3s;
}

.collapsable-icon.open {
  transform: rotateZ(90deg);
}

.collapsable-btn {
  border: none;
  background-color: transparent;
  outline: none;
}

.collapsable-btn:focus {
  outline: none;
}

@media (min-width: 800px) {

  .Polaris-Tabs__Title:before {
    content:'';
    background-size: 30px 30px;
    position:relative;
    z-index:100000;
    left:60px;
    top:30px;
    display: block;
    width: 30px;
    height: 30px;
    margin-top: -20px;
  }
  
  #books .Polaris-Tabs__Title:before {
    background-image: url('../img/open-book.svg');
  }

  #dvd .Polaris-Tabs__Title:before {
    background-image: url('../img/film.svg');
  }  
}