.collapsable-icon {
  transition: transform 0.3s;
}

.collapsable-icon.open {
  transform: rotateZ(90deg);
}

.collapsable-btn {
  border: none;
  background-color: transparent;
  outline: none;
}

.collapsable-btn:focus {
  outline: none;
}

.model-child-main
{
  max-height: 600px;
  overflow-y: scroll;
  padding: 0rem 0rem 0rem 2rem;
}

.vaadin-number {
  display: flex;
  flex-wrap: wrap;
  max-height: 250px;
  overflow-y: scroll;
}

.vaadin-number::-webkit-scrollbar {
  width: 5px;
  /* border-radius: 5px; */
  /* background: #dadada; */
}
.vaadin-number::-webkit-scrollbar-thumb {
  /* border-radius: 5px; */
  box-shadow: inset 10px 10px 10px #dadada;
}

.vaadin-number-main {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 30%;
}

.vaadin-number-child{
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.model-child-main::-webkit-scrollbar {
  width: 5px;
  /* border-radius: 5px; */
  /* background: #dadada; */
}
.model-child-main::-webkit-scrollbar-thumb {
  /* border-radius: 5px; */
  box-shadow: inset 10px 10px 10px #dadada;
}

.text-color-red
{
  color: #c53030;
}

.shopping-cart {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.shopping-cart img{
  width: 30px;
    margin-right: 15px;
}

.payment-text-field
{
  position: relative;
}
.payment-card-img
{
  position: absolute;
  display: flex;
  bottom: 5px;
  right: 10px;
}
.payment-card-img img
{
  width: 35px;
  height: 35px;
  margin-right: 5px;
}
.text-selection
{
  text-align: right;
}

.number-input {
  padding: 4px 8px;
  background-color:#F2F3EC;
  border-radius: 8px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
}

.number-input:focus {
  outline: none;
}

.number-input.selected {
  cursor: inherit;
  display: flex;
  align-items: center;
  background-color: #e53e3e;
  justify-content: space-between;
  position: relative;
  color: white;
}

.number-input .number-input-count {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  color: #e53e3e;
  top: 0;
  right: 0;
  font-size: 0.8rem;
  width: 25px;
  height: 25px;
  text-align: center;
  transform: translate(50%, -50%);
  border: 2px solid #e53e3e;
  z-index: 5;
  line-height: 22px;
}

.number-input .number-input-action:focus {
  outline: none;
}

.mt-4 .delivery-frequency {
  font-size: 1.0rem;
  font-weight: bold;
}

.accordion-tab
{
  margin-top: 7px;
}
.accordion-tab-title {
  text-align: left;
}

.charity_modal
{
  max-width: 600px !important;
}

.numberfild-width{
  width: 50%;
}

.accordion-inner-tab .Polaris-Tabs__Title:before {
  left: 0px !important;
}

.payment-textbox-width{
  padding-right: 10px;
}
.payment-textbox-inner-width{
  width: 50%;
}
.payment-text-field
{
  padding: 0 10px;
}
.charity_select_box{
  width: 95%;
}
button.number-input-action {
  font-size: 25px;
  font-weight: bold;
}

.checkbox-font {
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
}

@media only screen and (max-width: 767px) {
  .numberfild-width {
      width: 50%;
  }
}

@media (min-width: 800px) {

  .Polaris-Tabs__Title:before {
    content:'';
    background-size: 30px 30px;
    position:relative;
    z-index:100000;
    left:60px;
    top:30px;
    display: block;
    width: 30px;
    height: 30px;
    margin-top: -20px;
  }
  
  #books .Polaris-Tabs__Title:before {
    background-image: url('../img/open-book.svg');
  }

  #dvd .Polaris-Tabs__Title:before {
    background-image: url('../img/film.svg');
  }  
}
.Polaris-Tabs__Tab.Polaris-Tabs__Tab--selected .Polaris-Tabs__Title {
  border-bottom: var(--p-override-none, 0.2rem) solid #1090FF;
}
@media only screen and (max-width: 750px) {
  .vaadin-number-main {
    width: 47%;
  }
}

@media only screen and (max-width: 658px) {
  .vaadin-number-main {
    width: 43%;
  }
}

@media only screen and (max-width: 639px) {
  .charity_modal{
    max-width: 550px !important;
  }
  .payment-textbox-inner-width{
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .text-selection {
    text-align: center;
  }
  .shopping-cart {
    justify-content: center;
}
}

@media only screen and (max-width: 578px) {
  .charity_modal
  {
    max-width: 500px !important;
  }
}

@media only screen and (max-width: 520px) {
  .charity_modal
  {
    max-width: 450px !important;
  }
  .numberfild-width {
      width: 100%;
  }
}

@media only screen and (max-width: 476px) {
  .charity_modal
  {
    max-width: 400px !important;
  }
  .payment-card-img {
    display: none;
  }
  .radio-width{
    width: 100%;
  }
}

@media only screen and (max-width: 420px) {
  .vaadin-number-main {
    width: 100%;
  }
}