html {
  font-size: 16px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 190;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
.modal-container {
  width: 100%;
}

.modal.modal-lg {
  max-width: 50rem;
}

.modal {
  z-index: 100;
  background: #fff;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 0.375rem;
  max-width: 25rem;
  padding: 2rem 2rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 12px;
}

.modal-close-button {
  position: absolute;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  border: none;
  top: 0px;
  right: 10px;
}
.modal-footer {
  margin-top: 1rem;
  width: 104.5%;
  display: flex;
  flex: 1;
  padding: 1.5rem;
  justify-content: space-between;
  box-shadow: 0 -5px 5px -3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .error-border {
  border: 1px solid #c83d40;
 }

 @media screen and (max-width: 580px) {
  .modal-footer {
  width: 107.5%;
  } 
}

@media screen and (max-width: 414px) {
  .modal-footer {
    width: 108.5%
  }
}
@media screen and (max-width: 360px) {
  .modal-footer {
    width: 111.5%;
  }
}
@media screen and (max-width: 320px) {
  .modal-footer {
    width: 111%;
  }
}
.p {
  color: #004969;
  display: inline-flex;
  font-size: 0.94rem;
  margin-top: 0.7rem;
  line-height: 1.5rem;
}
@media screen and (max-width: 600px) {
  .p {
    font-size: 1.8vw;
    line-height: 1rem;
  }
}
@media screen and (max-width: 414px) {
  .p {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 375px) {
  .p {
    font-size: 2vw;
    line-height: 1rem;
  }
}
@media screen and (max-width: 320px) {
  .p {
    font-size: 1.8vw;
  }
}

.s {
  color: #E33936;
  display: block;
  margin-right: 4px;
  font-weight: 600;
}

.s:hover {
  background: #FFF9E3;
  color: #E33936;
  font-weight: 600;
  height: 25px;
  line-height: 1.5rem;
}
@media screen and (max-width: 600px) {
  .s:hover {
  line-height: 1rem;
  height: 15px;
  }
}
.s2 {
  color: #E33936;
  display: block;
  margin-left: 4px;
  font-weight: 600;
}

.s2:hover {
  background: #FFF9E3;
  font-weight: 600;
  color: #E33936;
  height: 25px;
  line-height: 1.5rem;
}
@media screen and (max-width: 600px) {
  .s2:hover {
  line-height: 1rem;
  height: 15px;
  }
}
.sum {
  font-weight: 600;
}
.modal-button {
    background-color: #e33936;
    color: white;
    padding: 0px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0.7rem;
}
@media screen and (max-width: 600px) {
  .modal-button {
    font-size: 2vw;
    display: inline-block;
  }
}
@media screen and (max-width: 375px) {
  .modal-button {
    text-transform: none;
  }
}
@media screen and (max-width: 320px) {
  .modal-button {
    text-transform: none;
    font-size: 2vw;
  }
}
.modal-button:hover {
  cursor: inherit;
  background-color: #C53030;
}
.modal-button:focus {
  outline: none;
}
.modal-button-disabled {
    background-color: #E9EDF0;
    border: none;
    color: #B3BCC8;
    padding: 0px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 0.7rem;
    cursor: unset;
  }
.modal-button-disabled-2 {
  background-color: #E9EDF0;
  border: none;
  color: #B3BCC8;
  padding: 0px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 0.7rem;
  cursor: unset;

}
.img-logo {
  margin-right: 2rem;
}
@media screen and (max-width: 375px) {
  .img-logo {
   width: 30%;
   margin-right: 1rem;
  }
}
@media screen and (max-width: 320px) {
  .img-logo {
    width: 30%;
    margin-right: 0.6rem
  }
}
@media screen and (max-width: 414px) {
  .img-logo {
    width: 30%;
    margin-right: 0.6rem
  }
}
.toolTip {
  background-color: none;
}
.toolTip:hover{
  background-color: yellow;
} 
